.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & p{
        font-size: 1.2em;
    }

    & h2{
        margin-right: 2rem;
        margin-left: 0.5rem;
    }
}