.requestStatusCard{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .6rem;
    background-color: white;
    height: 150px;
    padding: 1rem 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: .7rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.requestStatusCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.requestStatusCardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

.requestStatusCardContent p{
    color: #94A3B8;
    font-size: 1rem;
}
.requestStatusCardContent h3{
    font-weight: bold;
    font-size: 2rem;
}