.container{
    padding: 2rem 10px;
}

.content{
    margin: 0 auto;
    max-width: 1700px;
}

.header h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 8px;
}

.header p{
    color: #94A3B8;

}

.filters{
    display: flex;
    margin-top: 2rem;
}

.manageUsersTable{
    margin-top: 5rem;
}

.tableNavigation{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addButton {
  background-color: #3D52D5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addButton:hover {
  background-color: #4338ca;
}