.container{
    padding: 2rem 10px;
}

.content{
    margin: 0 auto;
    max-width: 1700px;
}

.header h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 8px;
}

.header p{
    color: #94A3B8;

}

.filters{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.searchTask{
    width: 20%;
    min-width: 200px;
}

.searchEmployee{
    width: 15%;
    min-width: 190px;
}

.searchEmployee > div{
    width: 100% !important;
}

.filtersRow{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.categorySelect{
    width: 130px;
}

.categorySelect > div {
    width: 100%;
}

.tableNavigation{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addButton {
  background-color: #3D52D5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addButton:hover {
  background-color: #4338ca;
}

.taskGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 5rem;
}

.noResults {
  grid-column: 1 / -1;
  text-align: center;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #6b7280;
}