
.headerContainer a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 8px;
  }
  
  .headerContainer a:hover {
    text-decoration: underline;
  }
  
  .headerContainer h1 {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: 800;
  }
  
  .headerContainer p {
    font-size: 16px;
    color: #94A3B8;
  }
  